<!-- views/layout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Site</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/objetivos">Objetivos</a>
    <a href="/desenvolvimento">Desenvolvimento</a>
    <a href="/conclusao">Conclusão</a>
  </nav>

  <div class="container">
    <!-- Conteúdo específico da página será inserido aqui -->
    <%- body %>
  </div>

  <script>
    // Se houver scripts específicos do layout, você pode adicioná-los aqui
  </script>
</body>
</html>
